# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.nextSnapshot
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
# If you use a Maven wrapper:
#!.mvn/wrapper/maven-wrapper.jar

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/

# Eclipse
.classpath
.project
.settings/
bin/

# NetBeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# VS Code
.vscode/

# OS specific
.DS_Store
Thumbs.db
desktop.ini

# Java
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Vagrant
.vagrant/

# Log files
*.log

# Crash dumps
*.dmp
*.dump
*.hprof
docs/api/
docs/apidocs/
_site/
_pages_src/
_site_local/
_site_javadocs/

# Antigravity CLI
.antigravitycli/
*.o
*.so
